* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #282C34;
}

#container {
    /* Both the container and the colorPicker needs to have position relative */
    position: relative;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    position: relative;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}